<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a class="nav-link" href="#">Add Movie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Add Series</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Add Episode</a>
    </li>
</ul>