{% extends 'base.html.twig' %}

{% block nav %}
    {%  include '@CyCodersBootstrapStarter/parts/nav.html.twig' %}
{% endblock %}

{% block sidebar %}
    {% include '@CyCodersBootstrapStarter/parts/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Hello.</h1>
    This is the default page.
{% endblock %}